BDD_USER=""
BDD_PSWD=""
BDD_HOST=""
BDD_PORT=
BDD_NAME=""

ENCRYPT_TOKEN=""
ENCRYPT_DATA=""

GITHUB_CLIENT=""
GITHUB_CLIENT_SECRET=""

GITLAB_CLIENT=""
GITLAB_CLIENT_SECRET=""
GITLAB_REDIRECT_URL=""

FRONT_URL=""
